# Practica 1

### Importación de librerias

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import cufflinks as cf
import glob
import os

import pyarrow as pa
import pyarrow.parquet as pq
from pathlib import Path
import pyarrow.dataset as ds

import polars as pl

### Segmentaciones por año

In [2]:
ruta = "../dataset/2022-2023/"

In [3]:
# Buscar todos los archivos .csv dentro de la carpeta
archivos = glob.glob(ruta + "*.csv")

In [4]:
df_total = pd.concat((pd.read_csv(f, low_memory=False) for f in archivos), ignore_index=True)

ValueError: No objects to concatenate

In [29]:
df_total.isnull().sum()

Genero_Usuario             434670
Edad_Usuario               332816
Bici                           22
Ciclo_Estacion_Retiro      332625
Fecha_Retiro               332625
Hora_Retiro                332625
Ciclo_EstacionArribo      3375836
Fecha Arribo              3375836
Hora_Arribo                332614
Genero_usuario           17058756
Edad_usuario             17058756
CE_retiro                17058756
Fecha_retiro             17058756
Hora_retiro              17058756
CE_arribo                17058747
Fecha_arribo             17058747
Hora_arribo              17058747
Ciclo_Estacion_Arribo    14348139
Fecha_Arribo             14348139
dtype: int64

In [30]:
df_total.tail()

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_EstacionArribo,Fecha Arribo,Hora_Arribo,Genero_usuario,Edad_usuario,CE_retiro,Fecha_retiro,Hora_retiro,CE_arribo,Fecha_arribo,Hora_arribo,Ciclo_Estacion_Arribo,Fecha_Arribo
17391356,M,43.0,2066074.0,100,31/10/2023,23:55:09,088,31/10/2023,23:59:43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17391357,M,24.0,6442966.0,070,31/10/2023,23:43:28,333,31/10/2023,23:59:43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17391358,F,29.0,2675080.0,100,31/10/2023,23:55:15,088,31/10/2023,23:59:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17391359,M,30.0,4771028.0,032,31/10/2023,23:44:40,072,31/10/2023,23:59:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17391360,F,36.0,3019684.0,672,31/10/2023,23:55:20,669,31/10/2023,23:59:52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df_total[df_total['Ciclo_Estacion_Retiro'].isnull()]

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_EstacionArribo,Fecha Arribo,Hora_Arribo,Genero_usuario,Edad_usuario,CE_retiro,Fecha_retiro,Hora_retiro,CE_arribo,Fecha_arribo,Hora_arribo,Ciclo_Estacion_Arribo,Fecha_Arribo
4879548,NaN,NaN,NaN,NaN,NaN,NaN,334,05/01/2022,13:13:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5544531,NaN,NaN,6999999.0,NaN,NaN,NaN,NaN,NaN,NaN,F,26.0,072,28/08/2022,14:00:38,1000,01/09/2022,14:10:29,NaN,NaN
5544532,NaN,NaN,7389323.0,NaN,NaN,NaN,NaN,NaN,NaN,M,26.0,056,28/08/2022,19:06:21,1000,05/09/2022,14:03:24,NaN,NaN
5544533,NaN,NaN,13013.0,NaN,NaN,NaN,NaN,NaN,NaN,F,42.0,328,30/08/22,07:31:24,98,21/09/22,16:31:40,NaN,NaN
5544534,NaN,NaN,8928.0,NaN,NaN,NaN,NaN,NaN,NaN,M,41.0,138,30/08/22,09:27:26,431,01/09/22,10:46:02,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12703386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12:12:34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158.0,01/02/2022
12703387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16:24:18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144.0,10/02/2022
12703388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12:41:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126.0,27/02/2022
12703389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16:24:18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144.0,10/02/2022
15989580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13:16:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140.0,11/06/2022

In [32]:
# Combinar: si la primera es NaN, usa la segunda para 2022 y 2023
df_total['Genero_Usuario'] = df_total['Genero_Usuario'].fillna(df_total['Genero_usuario'])
df_total['Edad_Usuario'] = df_total['Edad_Usuario'].fillna(df_total['Edad_usuario'])
df_total['Ciclo_Estacion_Retiro'] = df_total['Ciclo_Estacion_Retiro'].fillna(df_total['CE_retiro'])
df_total['Fecha_Retiro'] = df_total['Fecha_Retiro'].fillna(df_total['Fecha_retiro'])
df_total['Hora_Retiro'] = df_total['Hora_Retiro'].fillna(df_total['Hora_retiro'])
df_total['Ciclo_Estacion_Arribo'] = (df_total['Ciclo_Estacion_Arribo'].fillna(df_total['CE_arribo']).fillna(df_total['Ciclo_EstacionArribo']))
df_total['Fecha_Arribo'] = (df_total['Fecha_Arribo'].fillna(df_total['Fecha_arribo']).fillna(df_total['Fecha Arribo']))
df_total['Hora_Arribo'] = df_total['Hora_Arribo'].fillna(df_total['Hora_arribo'])
df_total = df_total.drop(columns=['Genero_usuario', 'Edad_usuario', 'CE_retiro', 'Fecha_retiro',
                                  'Hora_retiro', 'CE_arribo', 'Ciclo_EstacionArribo', 'Fecha_arribo',
                                  'Fecha Arribo', 'Hora_arribo'])

In [33]:
# Combinar: si la primera es NaN, usa la segunda para 2020 y 2021
#df_total['Bici'] = df_total['Bici'].fillna(df_total['BikeID'])
#df_total['Hora_Retiro'] = df_total['Hora_Retiro'].fillna(df_total['Hora_Retiro.1'])
#df_total['Ciclo_EstacionArribo'] = df_total['Ciclo_EstacionArribo'].fillna(df_total['Ciclo_Estacion_Arribo'])
#df_total['Fecha_Arribo'] = df_total['Fecha_Arribo'].fillna(df_total['Fecha Arribo'])
#df_total['Hora_Arribo'] = df_total['Hora_Arribo'].fillna(df_total['Hora Arribo'])
#df_total = df_total.drop(columns=['BikeID', 'Hora_Retiro.1', 'Ciclo_Estacion_Arribo', 'Fecha Arribo', 'Hora Arribo'])

In [34]:
#Columna 'Unnamed: 9 al leer 2018 y 2019
# df_total['Unnamed: 9'].value_counts()

# para el registro con de la columna es la hora de arribo
#df_total[df_total['Unnamed: 9']=='08:41:11']

# Ciclo_Estacion_Arribo: 10, Fecha_Arribo: 2019-03-06, Hora_Arribo: 08:41:11

#fila = 14218639  # índice de la fila que quieres mover
#df_total.iloc[fila, 6:9] = df_total.iloc[fila, [7, 4, 9]].values

# Eliminar columna 'Unnamed: 9'
#df_total = df_total.drop(columns=['Unnamed: 9'])

In [35]:
df_total.columns

Index(['Genero_Usuario', 'Edad_Usuario', 'Bici', 'Ciclo_Estacion_Retiro',
       'Fecha_Retiro', 'Hora_Retiro', 'Hora_Arribo', 'Ciclo_Estacion_Arribo',
       'Fecha_Arribo'],
      dtype='object')

In [36]:
# Ordenamos para 2022 y 2023
df_total = df_total[['Genero_Usuario', 'Edad_Usuario', 'Bici', 'Ciclo_Estacion_Retiro',
       'Fecha_Retiro', 'Hora_Retiro', 'Ciclo_Estacion_Arribo', 'Fecha_Arribo','Hora_Arribo']]

In [37]:
# Para 2022 y 2023 primero se ordenaron las columnas
nuevos_nombres = [
    'Genero_Usuario', 'Edad_Usuario', 'Bici', 'Ciclo_Estacion_Retiro',
       'Fecha_Retiro', 'Hora_Retiro', 'Ciclo_EstacionArribo', 'Fecha_Arribo',
       'Hora_Arribo'
]
df_total.columns = nuevos_nombres

In [38]:
df_total['Fecha_Retiro'] = pd.to_datetime(df_total['Fecha_Retiro'], format='mixed') #format='mixed', format='%Y-%m-%d', format='%d-%m-%Y' Se fue variando dependiendo el formato con que venian los datos

In [39]:
df_total['Fecha_Arribo'] = pd.to_datetime(df_total['Fecha_Arribo'], format='mixed') # Se fue variando dependiendo el formato con que venian los datos

In [40]:
df_total.isnull().sum()

Genero_Usuario           102065
Edad_Usuario                211
Bici                         22
Ciclo_Estacion_Retiro        20
Fecha_Retiro                 20
Hora_Retiro                  20
Ciclo_EstacionArribo          0
Fecha_Arribo                  0
Hora_Arribo                   0
dtype: int64

In [41]:
df_total['Fecha_Retiro'].isnull().sum()

np.int64(20)

In [42]:
df_total['Fecha_Arribo'].isnull().sum(), df_total['Fecha_Arribo'].max(), df_total['Fecha_Arribo'].min()

(np.int64(0),
 Timestamp('2023-12-31 00:00:00'),
 Timestamp('2022-01-01 00:00:00'))

In [43]:
# Combinar: si la primera es NaN, usa la segunda para 2024 y 2025
# df_total['Fecha_Arribo'] = df_total['Fecha_Arribo'].fillna(df_total['Fecha Arribo'])
# df_total = df_total.drop(columns=['Fecha Arribo'])

In [44]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17391361 entries, 0 to 17391360
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Genero_Usuario         object
 1   Edad_Usuario           float64
 2   Bici                   float64
 3   Ciclo_Estacion_Retiro  object
 4   Fecha_Retiro           datetime64[ns]
 5   Hora_Retiro            object
 6   Ciclo_EstacionArribo   object
 7   Fecha_Arribo           datetime64[ns]
 8   Hora_Arribo            object
dtypes: datetime64[ns](2), float64(2), object(5)
memory usage: 1.2+ GB

In [45]:
print(df_total['Hora_Retiro'].isnull().sum())
print(df_total['Hora_Arribo'].isnull().sum())

20
0

In [46]:
df_total['Hora_Retiro'] = df_total['Hora_Retiro'].astype(str).str.split('.').str[0]
df_total['Hora_Arribo'] = df_total['Hora_Arribo'].astype(str).str.split('.').str[0]

In [47]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17391361 entries, 0 to 17391360
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Genero_Usuario         object
 1   Edad_Usuario           float64
 2   Bici                   float64
 3   Ciclo_Estacion_Retiro  object
 4   Fecha_Retiro           datetime64[ns]
 5   Hora_Retiro            object
 6   Ciclo_EstacionArribo   object
 7   Fecha_Arribo           datetime64[ns]
 8   Hora_Arribo            object
dtypes: datetime64[ns](2), float64(2), object(5)
memory usage: 1.2+ GB

In [48]:
df_total['Hora_Retiro'] = (
    df_total['Hora_Retiro']
    .astype(str)
    .str.replace(r'^(\d{1,2})[:]{1,2}$', r'\1:00:00', regex=True)  # Corrige casos como 18:: o 9:
)
df_total['Hora_Arribo'] = (
    df_total['Hora_Arribo']
    .astype(str)
    .str.replace(r'^(\d{1,2})[:]{1,2}$', r'\1:00:00', regex=True)  # Corrige casos como 18:: o 9:
)

In [49]:
# Convertir a formato de hora 10 min 1.2+GB
df_total['Hora_Retiro'] = pd.to_datetime(df_total['Hora_Retiro'], format='mixed').dt.time #'%H:%M:%S'
df_total['Hora_Arribo'] = pd.to_datetime(df_total['Hora_Arribo'], format='mixed').dt.time

In [50]:
print(df_total['Hora_Retiro'].isnull().sum())
print(df_total['Hora_Arribo'].isnull().sum())

20
0

In [51]:
# Crear columna con el año
df_total['Anio'] = df_total['Fecha_Arribo'].dt.year

In [52]:
df_total.head(1)

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_EstacionArribo,Fecha_Arribo,Hora_Arribo,Anio
0,M,44.0,8428948.0,011,2023-05-31,23:17:14,341,2023-01-06,00:00:14,2023

In [53]:
# Segmentar por año y guardar cada uno
for anio, grupo in df_total.groupby('Anio'):
    if pd.notna(anio):
        nombre = f"segmento_{int(anio)}.csv"
        grupo.to_csv(nombre, index=False)
        print(f"Archivo guardado: {nombre} ({len(grupo)} filas)")

Archivo guardado: segmento_2022.csv (5213813 filas)
Archivo guardado: segmento_2023.csv (12177548 filas)

## Realizar el proceso anterior primero

In [4]:
# leer la primera fila de cada archivo guardado
for anio in range(2010, 2024):
    nombre = f"../../../Documentos/Proyectos - Diplomado/Ecobici/segmento_{anio}.csv"
    df_segmento = pd.read_csv(nombre, nrows=1)
    print(f"Primera fila de {nombre}:")
    print(df_segmento)

Primera fila de ../../../Documentos/Proyectos - Diplomado/Ecobici/segmento_2010.csv:
  Genero_Usuario  Edad_Usuario  Bici  Ciclo_Estacion_Retiro Fecha_Retiro  \
0              M            35    68                     38   2010-06-01

  Hora_Retiro  Ciclo_EstacionArribo Fecha_Arribo Hora_Arribo  Anio
0    00:03:10                    19   2010-06-01    00:13:41  2010
Primera fila de ../../../Documentos/Proyectos - Diplomado/Ecobici/segmento_2011.csv:
  Genero_Usuario  Edad_Usuario  Bici  Ciclo_Estacion_Retiro Fecha_Retiro  \
0              M            35   480                     71   2011-02-01

  Hora_Retiro  Ciclo_EstacionArribo Fecha_Arribo Hora_Arribo  Anio
0    00:00:02                    49   2011-02-01    00:05:20  2011
Primera fila de ../../../Documentos/Proyectos - Diplomado/Ecobici/segmento_2012.csv:
  Genero_Usuario  Edad_Usuario  Bici  Ciclo_Estacion_Retiro Fecha_Retiro  \
0              M            33  1217                     36   2012-07-01

  Hora_Retiro  Ciclo_EstacionArribo Fecha_Arribo Hora_Arribo  Anio
0    00:00:11                    75   2012-07-01    00:07:20  2012
Primera fila de ../../../Documentos/Proyectos - Diplomado/Ecobici/segmento_2013.csv:
  Genero_Usuario  Edad_Usuario  Bici  Ciclo_Estacion_Retiro Fecha_Retiro  \
0              M            27   275                    217   2013-03-01

  Hora_Retiro  Ciclo_EstacionArribo Fecha_Arribo Hora_Arribo  Anio
0    00:00:08                   248   2013-03-01    00:07:48  2013
Primera fila de ../../../Documentos/Proyectos - Diplomado/Ecobici/segmento_2014.csv:
  Genero_Usuario  Edad_Usuario  Bici  Ciclo_Estacion_Retiro Fecha_Retiro  \
0              M            55    49                     25   2014-10-01

  Hora_Retiro  Ciclo_EstacionArribo Fecha_Arribo Hora_Arribo  Anio
0    00:00:13                    86   2014-10-01    00:07:12  2014
Primera fila de ../../../Documentos/Proyectos - Diplomado/Ecobici/segmento_2015.csv:
  Genero_Usuario  Edad_Usuario  Bici  Ciclo_Estacion_Retiro Fecha_Retiro  \
0              M            32  4773                    127   2015-12-01

  Hora_Retiro  Ciclo_EstacionArribo Fecha_Arribo Hora_Arribo  Anio
0    00:00:40                   153   2015-12-01    00:14:19  2015
Primera fila de ../../../Documentos/Proyectos - Diplomado/Ecobici/segmento_2016.csv:
  Genero_Usuario  Edad_Usuario  Bici  Ciclo_Estacion_Retiro Fecha_Retiro  \
0              F            40  2203                    315   2016-05-01

  Hora_Retiro  Ciclo_EstacionArribo Fecha_Arribo Hora_Arribo  Anio
0    00:00:44                   372   2016-05-01    00:08:32  2016
Primera fila de ../../../Documentos/Proyectos - Diplomado/Ecobici/segmento_2017.csv:
  Genero_Usuario  Edad_Usuario  Bici  Ciclo_Estacion_Retiro Fecha_Retiro  \
0              M            33  4176                    146   2017-01-12

  Hora_Retiro  Ciclo_EstacionArribo Fecha_Arribo Hora_Arribo  Anio
0    00:00:21                   127   2017-01-12    00:11:10  2017
Primera fila de ../../../Documentos/Proyectos - Diplomado/Ecobici/segmento_2018.csv:
  Genero_Usuario  Edad_Usuario   Bici  Ciclo_Estacion_Retiro Fecha_Retiro  \
0              M            32  10060                    236   2018-01-05

  Hora_Retiro  Ciclo_EstacionArribo Fecha_Arribo Hora_Arribo  Anio
0    00:00:52                   215   2018-01-05    00:03:42  2018
Primera fila de ../../../Documentos/Proyectos - Diplomado/Ecobici/segmento_2019.csv:
  Genero_Usuario  Edad_Usuario  Bici  Ciclo_Estacion_Retiro Fecha_Retiro  \
0              M            33  7509                     51   2019-01-06

  Hora_Retiro  Ciclo_EstacionArribo Fecha_Arribo Hora_Arribo  Anio
0    00:01:14                    53   2019-01-06    00:24:20  2019
Primera fila de ../../../Documentos/Proyectos - Diplomado/Ecobici/segmento_2020.csv:
  Genero_Usuario  Edad_Usuario    Bici  Ciclo_Estacion_Retiro Fecha_Retiro  \
0              M          37.0  6958.0                  470.0   2020-01-10

  Hora_Retiro  Ciclo_EstacionArribo Fecha_Arribo Hora_Arribo    Anio
0    05:52:34                 271.0   2020-01-10    06:09:22  2020.0
Primera fila de ../../../Documentos/Proyectos - Diplomado/Ecobici/segmento_2021.csv:
  Genero_Usuario  Edad_Usuario    Bici  Ciclo_Estacion_Retiro Fecha_Retiro  \
0              M          32.0  7608.0                   18.0   2021-01-01

  Hora_Retiro  Ciclo_EstacionArribo Fecha_Arribo Hora_Arribo    Anio
0    07:05:04                 143.0   2021-01-01    07:13:25  2021.0
Primera fila de ../../../Documentos/Proyectos - Diplomado/Ecobici/segmento_2022.csv:
  Genero_Usuario  Edad_Usuario       Bici  Ciclo_Estacion_Retiro Fecha_Retiro  \
0              M          24.0  8015364.0                    112   2022-09-30

  Hora_Retiro  Ciclo_EstacionArribo Fecha_Arribo Hora_Arribo  Anio
0    23:22:32                   102   2022-01-10    00:01:58  2022
Primera fila de ../../../Documentos/Proyectos - Diplomado/Ecobici/segmento_2023.csv:
  Genero_Usuario  Edad_Usuario       Bici  Ciclo_Estacion_Retiro Fecha_Retiro  \
0              M          44.0  8428948.0                     11   2023-05-31

  Hora_Retiro  Ciclo_EstacionArribo Fecha_Arribo Hora_Arribo  Anio
0    23:17:14                   341   2023-01-06    00:00:14  2023

In [6]:
# Leer el archivo por partes, asignandole el tipo de dato correcto
dtypes = {
  'Genero_Usuario':         'string',
  'Edad_Usuario':           'Int32',
  'Bici':                   'string',
  'Ciclo_Estacion_Retiro':  'string',
  'Fecha_Retiro':           'string',
  'Hora_Retiro':            'string',
  'Ciclo_EstacionArribo':  'string',
  'Fecha_Arribo':           'string',
  'Hora_Arribo':            'string',
  'Anio':                   'Int64'
}

In [7]:
ruta_data = "../../../Documentos/Proyectos - Diplomado/Ecobici/"
archivos = glob.glob(ruta_data + "*.csv")
out_dir = Path("data_parquet")
out_dir.mkdir(exist_ok=True)

In [8]:
for i, archivo in enumerate(archivos):
    df = pd.read_csv(archivo, dtype=dtypes, low_memory=False)
    pq.write_table(pa.Table.from_pandas(df), f"data_parquet/año_{2010+i}.parquet")

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [ ]:
# Verificar y corregir tipos de datos en archivos Parquet, ya que piden que sean del mismo tipo
#ruta = "../../../Documentos/Proyectos - Diplomado/Practica 1/data_parquet/*.parquet"

#for f in glob.glob(ruta):
#    df = pd.read_parquet(f)
#    df["Ciclo_EstacionArribo"] = df["Ciclo_EstacionArribo"].astype(str)
#    df["Ciclo_Estacion_Retiro"] = df["Ciclo_Estacion_Retiro"].astype(str)
#    df.to_parquet(f, index=False)

In [11]:
# Verificar y corregir tipos de datos en archivos Parquet, ya que piden que sean del mismo tipo
ruta = "../../../Documentos/Proyectos - Diplomado/Practica 1/data_parquet/*.parquet"

for f in glob.glob(ruta):
    df = pd.read_parquet(f)
    df["Anio"] = df["Anio"].astype(pd.Int64Dtype())
    df.to_parquet(f, index=False)

In [12]:
df_lazy = pl.scan_parquet(
    "../../../Documentos/UNAM-DCD-G33/Equipo1/data_parquet/*.parquet")

In [13]:
df_total_analisis = df_lazy.collect()

SchemaError: data type mismatch for column Ciclo_EstacionArribo: incoming: Int64 != target: String

In [10]:
df_total_analisis.describe()

shape: (9, 11)
┌────────────┬───────────┬───────────┬─────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ statistic  ┆ Genero_Us ┆ Edad_Usua ┆ Bici    ┆ … ┆ Ciclo_Est ┆ Fecha_Arr ┆ Hora_Arri ┆ Anio      │
│ ---        ┆ uario     ┆ rio       ┆ ---     ┆   ┆ acionArri ┆ ibo       ┆ bo        ┆ ---       │
│ str        ┆ ---       ┆ ---       ┆ str     ┆   ┆ bo        ┆ ---       ┆ ---       ┆ f64       │
│            ┆ str       ┆ f64       ┆         ┆   ┆ ---       ┆ str       ┆ str       ┆           │
│            ┆           ┆           ┆         ┆   ┆ str       ┆           ┆           ┆           │
╞════════════╪═══════════╪═══════════╪═════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ count      ┆ 9069543   ┆ 9.069543e ┆ 9069543 ┆ … ┆ 9069543   ┆ 9069543   ┆ 9069543   ┆ 9.069543e │
│            ┆           ┆ 6         ┆         ┆   ┆           ┆           ┆           ┆ 6         │
│ null_count ┆ 0         ┆ 0.0       ┆ 0       ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 0.0       │
│ mean       ┆ null      ┆ 34.53166  ┆ null    ┆ … ┆ null      ┆ null      ┆ null      ┆ 2016.0    │
│ std        ┆ null      ┆ 10.170195 ┆ null    ┆ … ┆ null      ┆ null      ┆ null      ┆ 0.0       │
│ min        ┆ F         ┆ 16.0      ┆ 0001    ┆ … ┆ 1         ┆ 2016-01-0 ┆ 00:00:00  ┆ 2016.0    │
│            ┆           ┆           ┆         ┆   ┆           ┆ 1         ┆           ┆           │
│ 25%        ┆ null      ┆ 27.0      ┆ null    ┆ … ┆ null      ┆ null      ┆ null      ┆ 2016.0    │
│ 50%        ┆ null      ┆ 32.0      ┆ null    ┆ … ┆ null      ┆ null      ┆ null      ┆ 2016.0    │
│ 75%        ┆ null      ┆ 40.0      ┆ null    ┆ … ┆ null      ┆ null      ┆ null      ┆ 2016.0    │
│ max        ┆ M         ┆ 116.0     ┆ lab010  ┆ … ┆ 99        ┆ 2016-12-3 ┆ 23:59:59  ┆ 2016.0    │
│            ┆           ┆           ┆         ┆   ┆           ┆ 1         ┆           ┆           │
└────────────┴───────────┴───────────┴─────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [ ]:
df_total_analisis['Fecha_Retiro'] = pd.to_datetime(df_total_analisis['Fecha_Retiro'])

## Limpieza y Transformación de datos

In [23]:
def completitud_datos(df):
    return round(df.isnull().sum().sort_values(ascending=False) / df.shape[0], 4)

In [ ]:
completitud_datos(df_total_analisis)

Edad_Usuario             0.0
Genero_Usuario           0.0
Bici                     0.0
Ciclo_Estacion_Retiro    0.0
Fecha_Retiro             0.0
Hora_Retiro              0.0
Ciclo_EstacionArribo     0.0
Fecha_Arribo             0.0
Hora_Arribo              0.0
Anio                     0.0
dtype: float64

In [ ]:
# Unir fecha y hora
df_total_analisis['FechaHora_Retiro'] = pd.to_datetime(
    df_total_analisis['Fecha_Retiro'].astype(str) + ' ' + df_total_analisis['Hora_Retiro'].astype(str),
    errors='coerce'
)

# Unir fecha y hora
df_total_analisis['FechaHora_Arribo'] = pd.to_datetime(
    df_total_analisis['Fecha_Arribo'].astype(str) + ' ' + df_total_analisis['Hora_Arribo'].astype(str),
    errors='coerce'
)

In [ ]:
df_total_analisis.head(5)

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_EstacionArribo,Fecha_Arribo,Hora_Arribo,Anio,FechaHora_Retiro,FechaHora_Arribo
0,F,22.0,2586485,107-108,2025-03-31,23:34:46,181,2025-04-01,00:00:12,2025,2025-03-31 23:34:46,2025-04-01 00:00:12
1,M,50.0,8152522,384,2025-03-31,23:43:51,387,2025-04-01,00:00:16,2025,2025-03-31 23:43:51,2025-04-01 00:00:16
2,M,24.0,4219945,021,2025-03-31,23:42:36,548,2025-04-01,00:00:23,2025,2025-03-31 23:42:36,2025-04-01 00:00:23
3,M,32.0,2286540,271-272,2025-03-31,23:57:16,450,2025-04-01,00:00:31,2025,2025-03-31 23:57:16,2025-04-01 00:00:31
4,M,26.0,5017868,538,2025-03-31,23:46:23,012,2025-04-01,00:00:31,2025,2025-03-31 23:46:23,2025-04-01 00:00:31

### Calculo de la duración del viaje

In [23]:
# Calcular la duracion en minutos
df_total['Duracion'] = (df_total['FechaHora_Arribo'] - df_total['FechaHora_Retiro']).dt.total_seconds() / 60

### Clasificación de variables

In [ ]:
# Variables
discretas = ['Genero_Usuario', 'Ciclo_Estacion_Retiro', 'Ciclo_EstacionArribo']
continuas = ['Edad_Usuario', 'Bici']

### Asignar tipo de dato
dtypes = {
    'Genero_Usuario': 'string',
    'Bici': 'Float64',
    'Ciclo_Estacion_Retiro': 'string',
    'Ciclo_EstacionArribo': 'string',
    'Edad_Usuario': 'Int32'   # acepta NaN
}

df_total_analisis = df_total_analisis.astype(dtypes)

### Creación de histogramas para variables continuas

In [ ]:
##

### Creacion de graficos de barra y pastel para variables discretas

### Analisis y conclusiones basados en las graficas